<!DOCTYPE html>
<html lang="ko" xmlns="http://www.thymeleaf.org">
<head th:replace="header :: head">
  
  <link rel="stylesheet" href="/asset/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Noto+Serif+KR:wght@200..900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
  <script src="/asset/js/jquery-1.12.4.min.js"></script>
  <script src="/asset/js/popper.min.js"></script>
  <script src="/asset/js/bootstrap.min.js"></script>
  <script src="/js/script.js"></script>
</head>
<body>
  <div class="container">
    <div th:replace="header :: body"></div>

     
  <a href="/board/">게시판 보기</a>


  <div th:replace="footer :: body"></div>
</div>
</body>
</html>